* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: white;
  --dark-mode-background: rgb(16, 25, 33);
  --font-color: black;
  --dark-font-color: rgb(208, 204, 198);;
}

.principal {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.principal-photo {
  width: 60%;
}
.principal-photo__content {
  width: 100%;
}

#main-container {
  height: 100vh;
  background-color: var(--dark-mode-background);
  color: var(--dark-font-color);
}
